<div class="col-md-6 col-md-offset-2">
    <h1>Register</h1>
    <form ng-submit="submit()" name="registerform" ng-controller="RegisterFormController" novalidate>
        <div class="form-group" ng-class="{ 'has-error': registerform.fname.$invalid && !registerform.fname.$pristine }">
            <label for="Firstname">First Name</label>
            <input type="text" class="form-control" name="fname" ng-model="user.fname" required  placeholder="First Name">
            <span class="text-danger" ng-show="registerform.fname.$invalid && !registerform.fname.$pristine" >Please enter First name</span>
        </div>
        <div class="form-group" ng-class="{'has-error': registerform.lname.$invalid && !registerform.lname.$pristine }">
            <label for="lastname">Last Name</label>
            <input type="text" name="lname" class="form-control" ng-model="user.lname" required placeholder="Last name">
        </div>
        <div class="form-group" ng-class="{'has-error': registerform.email.$invalid && !registerform.email.$pristine}">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" ng-model="user.email"  placeholder="Email" required>
        </div>
        <div class="form-group" ng-class="{'has-error': registerform.pass.$invalid && !registerform.pass.$pristine}">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="pass" ng-model="user.pass" required  placeholder="Password">
        </div>
        <div class="form-group" ng-class="{'has-error': registerform.cpass.$invalid && !registerform.cpass.$pristine}">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" name="cpass" ng-model="cpass" placeholder="Password" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="agree" ng-model="agree" required> I agree to terms and conditions
            </label>
        </div>
        <input type="submit" ng-disabled="registerform.$invalid" id="submit" value="Submit" class="btn btn-primary"/>

    </form>
</div>